######################
# Project Specific
######################
/target/www/**
/src/test/javascript/coverage/
/appengine-staging/
/src/main/webapp/assets/
/src/main/webapp/**/*.js
/src/main/webapp/**/*.gz
/src/main/webapp/**/*.ttf
/src/main/webapp/**/*.ico
/src/main/webapp/**/*.html
/src/main/webapp/**/*.json
/src/main/webapp/**/*.map
/src/main/webapp/**/*.png
/src/main/webapp/**/*.jpg
/src/main/webapp/**/*.txt
/src/main/webapp/**/*.css
/src/main/webapp/**/*.gif
/src/main/webapp/**/*.woff2
/src/main/webapp/**/*.eot
/src/main/webapp/**/*.svg
/src/main/webapp/**/*.woff
/src/main/webapp/**/*.htaccess
/src/main/webapp/**/*.pdf
.env*.local

######################
# Node
######################
/node/
node_tmp/
node_modules/
npm-debug.log.*
/.awcache/*
/.cache-loader/*
/src/main/Reactjs/yarn.lock

######################
# SASS
######################
.sass-cache/

######################
# Eclipse
######################
*.pydevproject
.project
.metadata
tmp/
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
.factorypath
/src/main/resources/rebel.xml

# External tool builders
.externalToolBuilders/**

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

######################
# Intellij
######################
.idea/
*.iml
*.iws
*.ipr
*.ids
*.orig
out/

######################
# Visual Studio Code - NOPE
######################
# .vscode/

######################
# Maven
######################
/log/
/target/

######################
# Gradle
######################
.gradle/
/build/

######################
# Package Files
######################
*.jar
!libs/*.jar
*.war
*.ear
*.db

######################
# Windows
######################
# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

######################
# Mac OSX
######################
.DS_Store
src/.DS_Store
.svn

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

######################
# Directories
######################
/bin/
/deploy/

######################
# Logs
######################
*.log*

######################
# Others
######################
*.class
*.*~
*~
.merge_file*

######################
# Gradle Wrapper
######################
!gradle/wrapper/gradle-wrapper.jar

######################
# Maven Wrapper
######################
!.mvn/wrapper/maven-wrapper.jar

######################
# ESLint
######################
.eslintcache

jetty-9\.4\.2/
*.asta.lock

C:/
