#anticipation-values-search-doctor{
    min-width: 150px;
    padding: 0 3px;
}

#anticipation-values-search-doctor-label {
    left: -3px;
    top: -6px;
}

.MuiAutocomplete-inputRoot[class*="MuiFilledInput-root"] .MuiAutocomplete-endAdornment {
    right: 15px;
    top: 4px;
}
